In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
credits=pd.read_csv("tmdb_5000_credits.csv")
movies=pd.read_csv("tmdb_5000_movies.csv")

In [3]:
credits.shape

(4803, 4)

In [4]:
movies.shape

(4803, 20)

In [5]:
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [6]:
credits.sample(4)

,movie_id,title,cast,crew
1437,118957,Bait,"[{""cast_id"": 3, ""character"": ""Tina"", ""credit_i...","[{""credit_id"": ""52fe4beec3a36847f82199db"", ""de..."
4677,53256,Three,"[{""cast_id"": 2, ""character"": ""Hanna"", ""credit_...","[{""credit_id"": ""52fe485bc3a36847f816358d"", ""de..."
4567,15624,Conversations with Other Women,"[{""cast_id"": 1, ""character"": ""Woman"", ""credit_...","[{""credit_id"": ""52fe466d9251416c75077ec3"", ""de..."
3017,10984,Valentine,"[{""cast_id"": 1, ""character"": ""Paige Prescott"",...","[{""credit_id"": ""563b3249c3a3681b5e022ddc"", ""de..."

In [7]:
movies.sample(5)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
947,50000000,"[{""id"": 27, ""name"": ""Horror""}, {""id"": 9648, ""n...",http://www.sonypictures.com/homevideo/silenthill/,588,"[{""id"": 1299, ""name"": ""monster""}, {""id"": 2784,...",en,Silent Hill,The eerie and deserted ghost town of Silent Hi...,32.927994,"[{""name"": ""Silent Hill DCP Inc."", ""id"": 341}, ...","[{""iso_3166_1"": ""CA"", ""name"": ""Canada""}, {""iso...",2006-04-21,97607453,125.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,We've been expecting you.,Silent Hill,6.3,1067
2308,15000000,"[{""id"": 27, ""name"": ""Horror""}]",NaN,11683,"[{""id"": 4392, ""name"": ""cage""}, {""id"": 4565, ""n...",en,Land of the Dead,The world is full of zombies and the survivors...,15.262492,"[{""name"": ""Universal Pictures"", ""id"": 33}, {""n...","[{""iso_3166_1"": ""CA"", ""name"": ""Canada""}, {""iso...",2005-06-24,46770602,93.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,The dead shall inherit the Earth.,Land of the Dead,6.0,381
1846,26000000,"[{""id"": 35, ""name"": ""Comedy""}]",NaN,8699,"[{""id"": 917, ""name"": ""journalism""}, {""id"": 441...",en,Anchorman: The Legend of Ron Burgundy,"It's the 1970s, and San Diego super-sexist anc...",29.342744,"[{""name"": ""Apatow Productions"", ""id"": 10105}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2004-07-09,90574188,94.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,They bring you the news so you don't have to g...,Anchorman: The Legend of Ron Burgundy,6.7,1493
750,60000000,"[{""id"": 28, ""name"": ""Action""}]",http://www.stateofplaymovie.net/,16995,"[{""id"": 417, ""name"": ""corruption""}, {""id"": 441...",en,State of Play,"Handsome, unflappable U.S. Congressman Stephen...",21.685719,"[{""name"": ""Universal Pictures"", ""id"": 33}, {""n...","[{""iso_3166_1"": ""FR"", ""name"": ""France""}, {""iso...",2009-04-17,87784194,127.0,"[{""iso_639_1"": ""cn"", ""name"": ""\u5e7f\u5dde\u8b...",Released,Find The Truth,State of Play,6.7,484
3606,5000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 53, ""nam...",NaN,192141,"[{""id"": 612, ""name"": ""hotel""}, {""id"": 2020, ""n...",en,No Escape,"In their new overseas home, an American family...",38.006982,"[{""name"": ""Bold Films"", ""id"": 2266}, {""name"": ...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2015-08-26,54418872,103.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,No rescue. No refuge.,No Escape,6.7,777

In [8]:
df=pd.merge(movies,credits,on="title")

In [9]:
df.sample(5)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
1896,25000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 53, ""nam...",NaN,10431,"[{""id"": 1812, ""name"": ""fbi""}, {""id"": 9748, ""na...",en,War,FBI agent Jack Crawford is out for revenge whe...,18.896239,"[{""name"": ""Mosaic Media Group"", ""id"": 748}, {""...",...,103.0,"[{""iso_639_1"": ""cn"", ""name"": ""\u5e7f\u5dde\u8b...",Released,Vengeance is the ultimate weapon.,War,6.0,414,10431,"[{""cast_id"": 19, ""character"": ""Rogue"", ""credit...","[{""credit_id"": ""52fe436f9251416c75010311"", ""de..."
329,94000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://www.lordoftherings.net,122,"[{""id"": 603, ""name"": ""elves""}, {""id"": 606, ""na...",en,The Lord of the Rings: The Return of the King,Aragorn is revealed as the heir to the ancient...,123.630332,"[{""name"": ""WingNut Films"", ""id"": 11}, {""name"":...",...,201.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The eye of the enemy is moving.,The Lord of the Rings: The Return of the King,8.1,8064,122,"[{""cast_id"": 12, ""character"": ""Frodo Baggins"",...","[{""credit_id"": ""52fe421bc3a36847f80046c3"", ""de..."
411,60000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.scottpilgrimthemovie.com/,22538,"[{""id"": 170335, ""name"": ""whipping""}, {""id"": 17...",en,Scott Pilgrim vs. the World,Scott Pilgrim is a film adaptation of the crit...,38.885195,"[{""name"": ""Universal Pictures"", ""id"": 33}, {""n...",...,112.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Get the hot girl. Defeat her evil exes. Hit lo...,Scott Pilgrim vs. the World,7.2,2126,22538,"[{""cast_id"": 1, ""character"": ""Scott Pilgrim"", ...","[{""credit_id"": ""52fe4445c3a368484e0198d7"", ""de..."
1573,30000000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 35, ""name...",NaN,82696,"[{""id"": 188098, ""name"": ""renewing wedding vows...",en,Hope Springs,"After thirty years of marriage, a middle-aged ...",12.967137,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,100.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Sometimes to keep the magic, you need to learn...",Hope Springs,5.8,284,82696,"[{""cast_id"": 13, ""character"": ""Kay"", ""credit_i...","[{""credit_id"": ""52fe486f9251416c9108c445"", ""de..."
752,65000000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",NaN,9849,"[{""id"": 9951, ""name"": ""alien""}, {""id"": 10539, ...",en,My Favorite Martian,"News producer, Tim O'Hara gets himself fired f...",6.806920,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,94.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,The martian has landed. There goes the neighbo...,My Favorite Martian,5.1,80,9849,"[{""cast_id"": 1, ""character"": ""Tim O'Hara"", ""cr...","[{""credit_id"": ""588fd9399251412f39000088"", ""de..."

In [10]:
df.to_csv("data.csv")

In [11]:
df.columns.tolist()

['budget',
 'genres',
 'homepage',
 'id',
 'keywords',
 'original_language',
 'original_title',
 'overview',
 'popularity',
 'production_companies',
 'production_countries',
 'release_date',
 'revenue',
 'runtime',
 'spoken_languages',
 'status',
 'tagline',
 'title',
 'vote_average',
 'vote_count',
 'movie_id',
 'cast',
 'crew']

In [12]:
df.isnull().sum()

budget                     0
genres                     0
homepage                3096
id                         0
keywords                   0
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title                      0
vote_average               0
vote_count                 0
movie_id                   0
cast                       0
crew                       0
dtype: int64

In [13]:
cols = ['id','title','original_title','overview','genres','keywords','cast','crew',
        'vote_average','vote_count','popularity','runtime']     #Just required column to make content and popularity based recommender
df = df[cols].copy()

In [14]:
df.columns.tolist()

['id',
 'title',
 'original_title',
 'overview',
 'genres',
 'keywords',
 'cast',
 'crew',
 'vote_average',
 'vote_count',
 'popularity',
 'runtime']

In [15]:
df.isnull().sum()

id                0
title             0
original_title    0
overview          3
genres            0
keywords          0
cast              0
crew              0
vote_average      0
vote_count        0
popularity        0
runtime           2
dtype: int64

In [16]:
df=df.dropna()

In [17]:
df.isnull().sum()

id                0
title             0
original_title    0
overview          0
genres            0
keywords          0
cast              0
crew              0
vote_average      0
vote_count        0
popularity        0
runtime           0
dtype: int64

In [18]:
df.dtypes

id                  int64
title              object
original_title     object
overview           object
genres             object
keywords           object
cast               object
crew               object
vote_average      float64
vote_count          int64
popularity        float64
runtime           float64
dtype: object

In [19]:
movies.duplicated().sum()

np.int64(0)

In [20]:
#sincle title,original_title, overview, genres ,keyword, cast and crew are objects
from ast import literal_eval
def safe_literal_eval(x):
    if pd.isna(x):
        return []
    try:
        return literal_eval(x)
    except:
        return []

In [21]:
df['genres'] = df['genres'].apply(safe_literal_eval)
df['keywords'] = df['keywords'].apply(safe_literal_eval)
df['cast'] = df['cast'].apply(safe_literal_eval)
df['crew'] = df['crew'].apply(safe_literal_eval)

In [22]:
#print(df['genres','keywords','cast','crew']).sample

In [23]:
#to extract only names from this
df['genres'] = df['genres'].apply(lambda x: [d['name'].lower().replace(" ", "_") for d in x if 'name' in d])

In [24]:
df[['genres']].sample(5)

                           genres
1197   [drama, mystery, thriller]
1078  [adventure, action, comedy]
4388                [documentary]
2809              [drama, family]
3348            [comedy, romance]

In [25]:
df['cast'] = df['cast'].apply(lambda x: [d['name'].lower().replace(" ","_") for d in x[:3] if 'name' in d])
df['director'] = df['crew'].apply(lambda x: [d['name'].lower().replace(" ","_") for d in x if d.get('job')=='Director'][:1])
df['keywords'] = df['keywords'].apply(lambda x: [d['name'].lower().replace(" ", "_") for d in x if 'name' in d])

df[['genres','keywords','cast','crew']].sample(5)

,genres,keywords,cast,crew
262,"[adventure, fantasy, action]","[elves, dwarves, orcs, middle-earth_(tolkien),...","[elijah_wood, ian_mckellen, cate_blanchett]","[{'credit_id': '52fe421ac3a36847f80043fb', 'de..."
1538,[comedy],"[route_66, grand_canyon, cow, vacation, road_t...","[ed_helms, christina_applegate, skyler_gisondo]","[{'credit_id': '562eab5c9251410a220074ad', 'de..."
2812,"[comedy, romance]","[graduation, innocence, coming_of_age, teenage...","[jason_biggs, chris_klein, thomas_ian_nicholas]","[{'credit_id': '55722baac3a368368e0023cc', 'de..."
4008,"[science_fiction, thriller]","[scissors, radio, nudity, time, woods, surreal...","[karra_elejalde, candela_fernández, bárbara_go...","[{'credit_id': '54c256519251412489003a18', 'de..."
3513,"[romance, comedy, drama]",[],"[romola_garai, michael_gambon, jonny_lee_miller]","[{'credit_id': '52fe4caf9251416c7512245b', 'de..."

In [140]:
#df=df.drop(columns=['overview'])

In [141]:
#df['overview']=movies['overview']

In [26]:
df['overview'] = df['overview'].fillna('')

In [27]:
df['overview']

0       In the 22nd century, a paraplegic Marine is di...
1       Captain Barbossa, long believed to be dead, ha...
2       A cryptic message from Bond’s past sends him o...
3       Following the death of District Attorney Harve...
4       John Carter is a war-weary, former military ca...
                              ...
4804    El Mariachi just wants to play his guitar and ...
4805    A newlywed couple's honeymoon is upended by th...
4806    "Signed, Sealed, Delivered" introduces a dedic...
4807    When ambitious New York attorney Sam is sent t...
4808    Ever since the second grade when he first saw ...
Name: overview, Length: 4806, dtype: object

In [28]:
df.head(6)
df.to_csv("ready_data")

In [29]:
# Combine all tokens into a single list
df['tokens'] = df['genres'] + df['keywords'] + df['cast'] + df['director']

In [30]:
df['tokens_str'] = df['tokens'].apply(lambda x: ' '.join(x))
df['soup'] = df['tokens_str'] + ' ' + df['overview'].str.lower()
# wr make soup for vecctorixation

In [31]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [32]:
# Create TF-IDF matrix
tfidf = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf.fit_transform(df['soup'])
# Compute cosine similarity between movies
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)

In [33]:
def get_content_recommendations(title, top_n=10):
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:top_n+1]  # exclude itself
    movie_indices = [i[0] for i in sim_scores]
    return df.iloc[movie_indices]

In [34]:
C = df['vote_average'].mean()
m = df['vote_count'].quantile(0.90)

def weighted_rating(x, m=m, C=C):
    v = x['vote_count']
    R = x['vote_average']
    return (v/(v+m) * R) + (m/(v+m) * C)

df['score'] = df.apply(weighted_rating, axis=1)

In [35]:
def get_hybrid_recommendations(title, top_n=10):
    # Content-based similar movies
    similar_movies = get_content_recommendations(title, top_n*2)  # get more to re-rank
    
    # Sort by weighted popularity score
    hybrid_movies = similar_movies.sort_values('score', ascending=False).head(top_n)
    
    return hybrid_movies[['title', 'vote_average', 'vote_count', 'popularity', 'score']]

In [36]:
# Map movie titles to DataFrame indices
indices = pd.Series(df.index, index=df['title']).drop_duplicates()

In [37]:
print(indices["Avatar"])

0

In [38]:
df[['title','vote_average','vote_count','score']].head()

,title,vote_average,vote_count,score
0,Avatar,7.2,11800,7.050318
1,Pirates of the Caribbean: At World's End,6.9,4500,6.665370
2,Spectre,6.3,4466,6.239548
3,The Dark Knight Rises,7.6,9106,7.346090
4,John Carter,6.1,2124,6.096866

In [39]:
get_hybrid_recommendations("Avatar", top_n=10)

                        title  vote_average  vote_count  popularity     score
74           Edge of Tomorrow           7.6        4858   79.456485  7.185188
2405                   Aliens           7.7        3220   67.660940  7.114620
47    Star Trek Into Darkness           7.4        4418   78.291018  7.014977
3627                     Moon           7.6        1794   46.114184  6.835969
1353                  Gattaca           7.5        1808   70.398356  6.789410
507          Independence Day           6.7        3260   60.442593  6.480679
942          The Book of Life           7.3         755   34.890999  6.443610
260              Ender's Game           6.6        2303   45.948340  6.374571
838                    Alien³           6.2        1633   45.856409  6.143369
539                Titan A.E.           6.3         313   14.443810  6.123238

In [40]:
get_hybrid_recommendations("The Dark Knight Rises", top_n=5)

,title,vote_average,vote_count,popularity,score
65,The Dark Knight,8.2,12002,187.322927,7.919228
119,Batman Begins,7.5,7359,115.040024,7.217949
1361,Batman,7.0,2096,44.104469,6.575443
1360,Batman,7.0,2096,44.104469,6.575443
3859,"Batman: The Dark Knight Returns, Part 2",7.9,419,25.891466,6.427559

In [41]:
import pickle
df.to_pickle("movies_cleaned.pkl")

In [42]:
with open("cosine_sim.pkl", "wb") as f:
    pickle.dump(cosine_sim, f)

In [43]:
with open("indices.pkl", "wb") as f:
    pickle.dump(indices, f)

In [44]:
with open("tfidf_vectorizer.pkl", "wb") as f:
    pickle.dump(tfidf, f)